<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">Announcement</h4>
    </div>
    <div class="modal-body" style="background-color:#fff;">
      <div class ="preview_scroll">
        <p id="title_span"></p>
        <%="Title:"%><%=@announcement.title%>
        <p id='description_span'></p>
        <%="Description:"%><%=@announcement.description%>
      </div>
    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-default ok-btn-padding reload" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>

