<div class="container cotainer-margin">
  <div class="row">
   <li> <%= button_to "Create",announcements_path,:method=> :get, remote: true,:class=>"btn btn-warning btn-md pull-right", 'data-toggle' => 'modal', 'data-target'=>'#myModal'%></li>
 </div>
 <div class="forum-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="topic">Topics</th>
        <th class="statistics">Statistics</th>
        <th class="last-post">Last posts</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="topic-name">Game and Forum Rules</div>
          <div> Created By <strong > BigSox </strong>, 5th January 2013, 09:57 PM</div>
        </td>
        <td>
          <div>123 responses </div>
          <div>1,046 views</div>
        </td>
        <td>
          <div> By <strong > BigSox </strong></div>
          <div> 5th January 2013, 09:57 PM </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="topic-name">Game and Forum Rules</div>
          <div> Created By <strong > BigSox </strong>, 5th January 2013, 09:57 PM</div>
        </td>
        <td>
          <div>123 responses </div>
          <div>1,046 views</div>
        </td>
        <td>
          <div> By <strong > BigSox </strong></div>
          <div> 5th January 2013, 09:57 PM </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="topic-name">Game and Forum Rules</div>
          <div> Created By <strong > BigSox </strong>, 5th January 2013, 09:57 PM</div>
        </td>
        <td>
          <div>123 responses </div>
          <div>1,046 views</div>
        </td>
        <td>
          <div> By <strong > BigSox </strong></div>
          <div> 5th January 2013, 09:57 PM </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="topic-name">Game and Forum Rules</div>
          <div> Created By <strong > BigSox </strong>, 5th January 2013, 09:57 PM</div>
        </td>
        <td>
          <div>123 responses </div>
          <div>1,046 views</div>
        </td>
        <td>
          <div> By <strong > BigSox </strong></div>
          <div> 5th January 2013, 09:57 PM </div>
        </td>
      </tr>
    </tbody>
  </table> 
</div>


