<div class="container cotainer-margin">
  <div class="row">
    <!--Create Button  -->
    <button type="button" class="btn btn-warning btn-md pull-right">
      Create
    </button>
  </div>
  <div class="forum-table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="topic">Topics</th>
          <th class="statistics">Statistics</th>
          <th class="last-post">Last posts</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="topic-name">Game and Forum Rules</div>
            <div> Created By <strong > BigSox </strong>, 5th January 2013, 09:57 PM</div>
          </td>
          <td>
            <div>123 responses </div>
            <div>1,046 views</div>
          </td>
          <td>
            <div> By <strong > BigSox </strong></div>
            <div> 5th January 2013, 09:57 PM </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="topic-name">Game and Forum Rules</div>
            <div> Created By <strong > BigSox </strong>, 5th January 2013, 09:57 PM</div>
          </td>
          <td>
            <div>123 responses </div>
            <div>1,046 views</div>
          </td>
          <td>
            <div> By <strong > BigSox </strong></div>
            <div> 5th January 2013, 09:57 PM </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="topic-name">Game and Forum Rules</div>
            <div> Created By <strong > BigSox </strong>, 5th January 2013, 09:57 PM</div>
          </td>
          <td>
            <div>123 responses </div>
            <div>1,046 views</div>
          </td>
          <td>
            <div> By <strong > BigSox </strong></div>
            <div> 5th January 2013, 09:57 PM </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="topic-name">Game and Forum Rules</div>
            <div> Created By <strong > BigSox </strong>, 5th January 2013, 09:57 PM</div>
          </td>
          <td>
            <div>123 responses </div>
            <div>1,046 views</div>
          </td>
          <td>
            <div> By <strong > BigSox </strong></div>
            <div> 5th January 2013, 09:57 PM </div>
          </td>
        </tr>
      </tbody>
    </table> 
  </div>
  <!--    Pagination section-->
  <div class="text-right">
    <nav>
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">Page 1</a></li>
        <li><a href="#">Page 2</a></li>
        <li><a href="#">Page 3</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>


