<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Hi, <%= @latest.user.name %>!</h1>
    <p>you got a comment</p>
    <p><%= @comment.comment_text %></p>
  </body>
</html>